body{
	background-color: #E9C6AE;
}
#contact{
	background-color: pink;
}
#projects{
	background-color: orange;
}
#letter{

	text-align: center;
	font-size: 150px;
	color: black;
}
#bar1{
	height: 100%;
	width: 100%;
	/*background-color: gray;*/
	border: 3px solid black;
	    border-radius: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#la{
	color: black;
	text-align: center;
	font-size: 18pt;
	margin-top: 40px;
	font-family: 'Slabo 27px', serif;
}
hr{
	width: 12%;

	border: 0;
	border-top: 1px solid black;
	display: inline-block;
}
.circular {
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("http://www.hiphopdx.com//images/news/1-1-2-JCole_304.jpg") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    color: black;
}
#bar2{
	height: 1px;
	width: 850px;
	margin-left: 230px;
	margin-bottom: 20px;
	background-color: black;
	    border-radius: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border: 1px solid black;
}
#footer{
padding-left: 900px;
height: 100px;
}

.socials li{
   opacity:.8;
   -webkit-transition: -webkit-all 1.4s ease;
   -moz-transition: -moz-all 1.4s ease;
   -o-transition: -o-all 1.4s ease;
   transition: all 1.4s ease;
   display:inline-block;
   padding:15px 5px 10px 20px;
   background-color:#a9a9a9;
   width:55px;
  margin:0 5px;
   border-radius:50%;
   font-size:2.9em;

}
.socials li:hover{
   -webkit-transform:scale(1.5) rotate(360deg);
   -moz-transform: scale(1.5) rotate(360deg);
   -o-transform: scale(1.5) rotate(360deg);
   -ms-transform: scale(1.5) rotate(360deg);
   transform: scale(1.5) rotate(360deg);
   color:red;
   opacity:1;
   cursor:pointer;
  box-shadow:1px 1px 5px #000;
}
#f:hover{
  color:#00008B;
}
#t:hover{
  color:#6495ED;
}
.socials{
  list-style:none;
}