body{
	background-color: #E9C6AE;
}
#contact{
	background-color: pink;
}
#projects{
	background-color: orange;
}
#letter{

	text-align: center;
	font-size: 150px;
	color: black; hog
}
#bar1{
	height: 100%;
	width: 100%;
	/*background-color: gray;*/
	border: 3px solid black;
	    border-radius: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#la{
	color: black;
	text-align: center;
	font-size: 18pt;
	margin-top: 40px;
	font-family: 'Slabo 27px', serif;
}
hr{
	width: 12%;

	border: 0;
	border-top: 1px solid black;
	display: inline-block;
}
.circular {
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("http://www.hiphopdx.com//images/news/1-1-2-JCole_304.jpg") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    color: black;
}
#bar2{
	height: 1px;
	width: 850px;
	margin-left: 230px;
	margin-bottom: 20px;
	background-color: black;
	    border-radius: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border: 1px solid black;
}
#footer{
padding-left: 900px;
height: 100px;
}

.socials li{
   opacity:.8;
   -webkit-transition: -webkit-all 1.4s ease;
   -moz-transition: -moz-all 1.4s ease;
   -o-transition: -o-all 1.4s ease;
   transition: all 1.4s ease;
   display:inline-block;
   padding:15px 5px 10px 20px;
   background-color:#a9a9a9;
   width:55px;
  margin:0 5px;
   border-radius:50%;
   font-size:2.9em;

}
.socials li:hover{
   -webkit-transform:scale(1.5) rotate(360deg);
   -moz-transform: scale(1.5) rotate(360deg);
   -o-transform: scale(1.5) rotate(360deg);
   -ms-transform: scale(1.5) rotate(360deg);
   transform: scale(1.5) rotate(360deg);
   color:red;
   opacity:1;
   cursor:pointer;
  box-shadow:1px 1px 5px #000;
}
#f:hover{
  color:#00008B;
}
#t:hover{
  color:#6495ED;
}
.socials{
  list-style:none;
}




/* projects page; pictures */
.image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: black;
  cursor: pointer;
  color: white;
}

.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}

.image img {
  max-width: 100%;
}

.caption {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
}
#pic2{
	
}
.caption-num1 {
  position: relative;
  height: 60px;
  padding: none;
  transform: rotate(45deg) translateY(-280px) translateX(-50%);
}

.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
}

.image-container-num1:hover .caption-num1 {
  transform: rotate(45deg) translateY(-200px) translateX(-50%)
}

.caption-num2 {
  transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num2:hover .caption-num2 {
 transform: translateY(-100%);
}
.image-num3 img {
  max-width: none;
  max-height: 100%;
}
.image-num3 {
  direction: rtl;
}
.caption-num3 {
  opacity: 0;
  width: 300px;
  text-align:right;
  padding-right: 14px;
  transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
  transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
  opacity: 1;
  transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
  transform: translateY(-100%);
}
.image-num5 img {
  max-width: none;
  transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
  transform: translateY(-100%);
  opacity: 0;
}
.image-container-num5:hover .image-num5 {
  transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
  opacity: 1;
}
.caption-num6 {
  transform: translateY(-200px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-200px);
}
.image-container-num6:hover .image-num6 {
  opacity: .5;
}
.caption-num7 {
  height: 200px;
  background: none;
  color: #333;
  font-size: 20px;
  opacity: 0;
}
.image-container-num7:hover .caption-num7 {
  opacity: 1;
  transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
  transform: scale(1.5);
  opacity: .15;
}
.break {
  display: none;
}